<%-include('../includes/header.ejs')%>
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('../includes/navbar.ejs')%>
    <main>
        <div class="d-flex justify-content-center align-items-center">
            <div class="card mb-3" style="width: 20rem;">
                    <img src="/auth/<%=data.user_image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Full Name: <%=data.first_name + data.last_name%></h5>
                      <h5 class="card-text">Email: <%=data.email%></h5>
                      <h5 class="card-text">Identity Proof: <img src="/auth/<%=data.id_proof%>" class="img-fluid rounded-start" alt="..." height="100px" width="130px"></h5>
                    </div>
                </div>
              </div>
              <!-- <div class="d-flex justify-content-center">
                <a href="/auth/logout" class="btn btn-danger">Log Out</a>
              </div> -->
              
    </main>
<%-include('../includes/footer.ejs')%>